
.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
}

Form {
  width: 50vw;
  height: 450px;
  padding: 40px 20px !important;
  margin: 20px !important;
  background: pink;
  align-items: center;
  z-index: 2;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(34, 34, 34, 0.5);
}